Repository tmknom/dockerfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, github, docs, chore

Delete labels
  .github/release.yml
Labels: github

Tweak labels
  .github/release.yml
Labels: github

Rename to label.yml
  .github/workflows/label.yml
Labels: github

Update name
  .github/workflows/label.yml
Labels: github

Add sync-labels option
  .github/workflows/label.yml
Labels: github

Add 0.1.2
  CHANGELOG.md
Labels: docs

Update .gitignore
  .gitignore
Labels: chore

Update CI
  README.md
Labels: docs

Update secrets management
  README.md
Labels: docs

Update test
  README.md
Labels: docs

Add development
  README.md
Labels: docs

Add development
  README.md
Labels: docs

Update make test
  Makefile
Labels: chore

Update make clean
  Makefile
Labels: chore

Remove release management and dependency management
  jsonlint/README.md
  markdownlint/README.md
  prettier/README.md
  yamllint/README.md
Labels: docs

Remove jsonlint
  Makefile
Labels: chore

Tweak description
  README.md
Labels: docs

Prevent word splitting in examples
  README.md
  jsonlint/README.md
  markdownlint/README.md
  prettier/README.md
  yamllint/README.md
Labels: docs

Fix PYTHONPATH to match python version.
  yamllint/Dockerfile
Labels: docker

chore: delete unnecessary workflows
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-shell.yml
  .github/workflows/lint-yaml.yml
Labels: github

chore: rewrite Lint Action workflow
  .github/workflows/lint-action.yml
Labels: github

.github/labeler.yml:

docker:
  - "*/Dockerfile"
  - "*/entrypoint.sh"
  - "*/package.json"
  - "*/requirements.txt"

github:
  - ".github/**/*"

docs:
  - "**/*.md"

chore:
  - "Makefile"
  - "VERSION"
  - ".gitignore"
  - ".markdownlint.yml"
  - ".yamllint.yml"
