Repository tmknom/dockerfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: prettier, yamllint, markdownlint, jsonlint, github, docs, chore

Use lts version for node
  jsonlint/Dockerfile
  markdownlint/Dockerfile
  prettier/Dockerfile
Labels: prettier, markdownlint, jsonlint

Ignore odd version of node
  .github/dependabot.yml
Labels: github

Delete fixtures
  .github/fixtures/.gitkeep
Labels: github

Tweak make test
  Makefile
Labels: chore

Remove patch version from base image
  yamllint/Dockerfile
Labels: yamllint

Ignore semver-patch for python image
  .github/dependabot.yml
Labels: github

Create yamllint test
  .github/tests/yamllint/invalid_yml.txt
  .github/tests/yamllint/test.sh
  .github/tests/yamllint/valid_yml.txt
Labels: github

Create .gitignore
  .gitignore
Labels: none

Create markdownlint test
  .github/tests/markdownlint/invalid_md.txt
  .github/tests/markdownlint/test.sh
  .github/tests/markdownlint/valid_md.txt
Labels: github

Create jsonlint test
  .github/tests/jsonlint/invalid_json.txt
  .github/tests/jsonlint/test.sh
  .github/tests/jsonlint/valid_json.txt
Labels: github

Create xunit.sh
  .github/tests/xunit.sh
Labels: github

Create prettier test
  .github/tests/prettier/invalid_yml.txt
  .github/tests/prettier/test.sh
  .github/tests/prettier/valid_yml.txt
Labels: github

Add running test script to make test
  Makefile
Labels: chore

Add make prepare-test
  Makefile
Labels: chore

Add test image to docker_push action
  .github/actions/docker_push/action.yml
  .github/tests/jsonlint/test.sh
  .github/tests/markdownlint/test.sh
  .github/tests/prettier/test.sh
  .github/tests/yamllint/test.sh
Labels: github

.github/labeler.yml:

prettier:
  - "prettier/*"

yamllint:
  - "yamllint/*"

markdownlint:
  - "markdownlint/*"

jsonlint:
  - "jsonlint/*"

github:
  - ".github/**/*"

docs:
  - "**/*.md"

chore:
  - "Makefile"
  - "VERSION"
  - ".markdownlint.yml"
  - ".yamllint.yml"
